@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* common style */

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.container {
  width: 75%;
  /* max-width: 1320px; */
  width: 1320px;
  margin: 0 auto;
}

.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/banner-image.png");
  border-radius: 16px;
  height: 600px;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 120px;
}

.banner h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
  margin-top: 16px;
}

/* offer section */

.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.offer-container h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.offer-container h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.offer-container h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 16px auto 48px;
}

/* banner two section */

.banner-two {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/vector.png");
  height: 600px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 120px auto;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.banner-two .banner-image {
  width: 100%;
}

.banner-two .banner-text {
  padding-left: 120px;
}

.banner-two .banner-text h1 {
  color: #fff;
  width: 642px;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.banner-two .banner-text p {
  color: rgba(255, 255, 255, 0.8);
  width: 697px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.banner-two .banner-text button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: none;
  border: none;
  margin: 48px auto auto 32px;
}

/* Address section */

.address {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  margin-bottom: 120px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.address h3 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.red {
  color: #f00;
}

.address button {
  border-radius: 8px;
  border: none;
  background: #f00;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 64px;
}

/* coming soon section */

.coming-soon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coming-soon .coming-left-description h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.coming-soon .coming-left-description h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 16px 0 22px 0;
}
.coming-soon .coming-left-description p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 393px;
}

.coming-soon .coming-middle-image img {
  /* border-radius: 364.844px; */
  background: white;
  background-size: 100%;
  width: 364.844px;
  height: 364.844px;
  flex-shrink: 0;
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 49px;
}

.coming-soon .coming-last-description h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.coming-soon .coming-last-description p {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin: 16px auto 43px;
}

/* discount section */

.discount {
  margin: 120px auto;
}

.discount .discount-description {
  text-align: center;
}

.discount .discount-description h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.discount .discount-description h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 16px 0 28px 0;
}
.discount .discount-description p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 64px;
}

.discount .discount-img-container {
  background-image: url("../images/rectangle-1.png"),
    url("../images/rectangle-2.png");
  background-repeat: no-repeat;
  background-position: top right, bottom;
  display: flex;
  background-size: 429px 438px, 100%;
}

.discount .discount-img-container .percentage-image {
  margin-top: 80px;
  margin-left: -40px;
}

.galarry .galarry-description h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.galarry .galarry-description h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 16px 0 22px 0;
}
.galarry .galarry-description p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}

.galarry .galarry-image {
  size: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
